In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from patsy import dmatrix
%matplotlib inline
excel_path = '/Users/admin/IdeaProjects/machineL/dataset/ipos.xlsx'
xls = pd.ExcelFile(excel_path)
exchanges = xls.sheet_names
ipos = pd.read_excel(xls, sheet_name=exchanges[0])

In [41]:
ipos.drop([1335], inplace=True)

In [42]:
ipos[ipos["Trade Date"] == "11/120"]

Empty DataFrame
Columns: [Trade Date, Issuer, Symbol, Lead/Joint-Lead Managers, Offer Price, Opening Price, 1st Day Close, 1st Day % Px Chng , $ Change Opening, $ Change Close, Star Ratings, Performed]
Index: []

In [45]:
def print_ipo(row):
    try:
        result = pd.to_datetime(row["Trade Date"])
    except:
        print(row.index)
        print(row)

ipos.apply(print_ipo,  axis=1)

2964    None
2968    None
2965    None
2966    None
2967    None
2970    None
2971    None
2969    None
2972    None
2973    None
2974    None
2975    None
2976    None
2977    None
2978    None
2979    None
2980    None
2981    None
2982    None
2983    None
2984    None
2985    None
2986    None
2987    None
2988    None
2989    None
2990    None
2991    None
2992    None
2993    None
        ...
191     None
192     None
193     None
194     None
195     None
196     None
197     None
198     None
199     None
200     None
201     None
202     None
203     None
205     None
206     None
204     None
207     None
208     None
209     None
210     None
211     None
212     None
215     None
213     None
214     None
216     None
217     None
218     None
219     None
220     None
Length: 3200, dtype: object

In [46]:
ipos.sort_values('Trade Date', inplace=True)

In [47]:
ipos['Trade Date'] = pd.to_datetime(ipos['Trade Date'])

In [55]:
ipos.head(5)

,Date,Issuer,Symbol,Lead/Joint-Lead Managers,Offer Price,Opening Price,1st Day Close,1st Day % Px Chng,$ Change Opening,$ Change Close,Star Ratings,Performed
2964,2000-05-12,Sequoia Software,SQSW,Lehman Brothers,8.0,10.25000,10.06250,0.257812,2.25000,2.06250,2,NaN
2968,2000-05-18,New Focus,NUFO,Credit Suisse First Boston,20.0,40.00000,51.00000,1.550000,20.00000,31.00000,3,NaN
2965,2000-05-18,US Unwired,UNWR,Donaldson Lufkin & Jenrette,11.0,11.03125,11.06250,0.005682,0.03125,0.06250,1,NaN
2966,2000-05-18,Nogatech,NGTC,W.R. Hambrecht+Co,12.0,11.87500,9.40625,-0.216146,-0.12500,-2.59375,1,NaN
2967,2000-05-18,iBEAM Broadcasting,IBEM,Morgan Stanley Dean Witter,10.0,11.50000,14.00000,0.400000,1.50000,4.00000,2,NaN

In [50]:
ipos.to_csv("/Users/admin/IdeaProjects/machineL/dataset/ipos.csv", index=False)

In [54]:
ipos.rename({"Trade Date": "Date"}, axis='columns', inplace=True)